<md-card class="md-whiteframe-1dp md-padding">
  <form role="form" name="thisForm" id="thisForm" novalidate class="md-padding">
  
	<div layout="row">
		<md-input-container flex="100">
			<label>Nama Bank *</label>
			<input required name="name" ng-model="bank.nama_bank" maxlength="50">
		</md-input-container>
	</div>

	<div layout="row">
	  <md-input-container flex="100">
		  <label>No Rekening Bank *</label>
		  <input type="text" required name="norek" ng-model="bank.norek" maxlength="20">
	  </md-input-container>
	</div>

	<div layout="row">
		<md-input-container flex="100">
			<label>Atas Nama *</label>
			<input type="text" required name="atas_nama" maxlength="100" ng-model="bank.atas_nama">
		</md-input-container>
	</div>

	 <fieldset class="standard margin-input-container md-padding">
		<legend>Gambar Bank *</legend>
		<div layout="row" layout-align="center center">
			<input class="padding-top-bottom" type="file" name="img_bank" onchange="angular.element(this).scope().onFileSelect(this.files)" flex/>
			<md-button class="md-icon-button" ng-click="viewImage($event, 'uploads/bank/'+bank.img_bank)" ng-if="!isNewEntry()">
				<md-icon>wallpaper</md-icon>
			</md-button>
		</div>
		<div ng-if="icon.valid" class="red-alert">Hanya PNG</div>

		<p class="hint">
			1. Rasio Gambar adalah 1: 1, ukuran yang disarankan adalah W: 200px H: 200px<br>
			2. Gambar dengan satu warna(<i>Monochrome</i>) </i><br>
			3. Latar belakang transparan<br><br>
		</p>
    </fieldset>
	
	<br>
	<md-divider></md-divider>
	<md-checkbox ng-model="bank.draft" ng-true-value="1" ng-false-value="0">Save As draft</md-checkbox>
	<p class="hint">Ketika Anda memeriksa <i>Simpan sebagai draf</i> data tidak akan ditampilkan di perangkat pengguna.</p>

	<br><br>
    <em> (*) required field</em>

    <div class="md-actions md-padding" layout="row">
		<span flex></span>
		<md-button ng-if="!submit_loading" class="md-warn" ng-click="cancel()" > CANCEL </md-button>
		<md-button ng-if="!submit_loading" ng-disabled="!isReadySubmit() || thisForm.$invalid" ng-click="submit(bank)" class="md-raised md-primary"> {{button_text}} </md-button>
		<md-progress-circular ng-if="submit_loading" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
    </div>
  </form>
</md-card>
