<div layout="row" layout-align="center center" >
	<md-card class="md-whiteframe-1dp" flex="30">
		<div class="table-responsive-vertical">
			<md-toolbar class="md-padding">
				<div layout="column" layout-padding layout-align="center center" class="md-padding" style="padding-top:52px;">
					<md-icon md-svg-src="lib/css/icons/web_icon.svg" style="color:#FFFFFF;width:150px;height:150px;"></md-icon>
					<!-- <div><h4></h4></div> -->
					{{PANEL_NAME}} {{PANEL_VERSION}}
				</div>
			</md-toolbar>
			<div class="md-padding">
				<div layout="row" layout-padding layout-align="center" class="md-padding">
					<div layout="column" >
						<p>{{ PANEL_NAME }} salah satu produk dari Dokterapps untuk bisnis anda</p>
						<div>
							<p>Develop By
							<a target="_blank" style="text-align:center;" class="btn waves-effect waves-light" href="http://dokterapps.com/">Dokterapps</a></p>
						</div>
						
					</div>
				</div>
				<div layout="row" layout-align="center">
					<div layout="column">
						<p class="note" style="text-align:center;">tokoku@dokterapps.com</p>
					</div>
				</div>
			</div>
		</div>
	</md-card>
</div>

