<md-dialog layout="column" flex="70" aria-label="dialog place">
  <form role="form" name="thisForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Detail Order</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="print()">
          <md-icon aria-label="Print">print</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="autoScroll">
    <div layout="row">
      <item flex="25">Customer</item> <item flex="5"> : </item> <item>{{order.buyer}}</item>
    </div>
    <div layout="row">
      <item flex="25">Email</item> <item flex="5"> : </item> <item>{{order.email}}</item>
    </div>
    <div layout="row">
      <item flex="25">No Telpon</item> <item flex="5"> : </item> <item>{{order.phone}}</item>
    </div>
    <div layout="row">
      <item flex="25">Alamat</item> <item flex="5"> : </item> <item>{{order.address}}</item>
    </div>

    <md-divider class="margin-divider"></md-divider>
    <div layout="row">
      <item flex="25">Pengiriman</item> <item flex="5"> : </item> <item>{{order.shipping}}</item>
    </div>
    <div layout="row">
      <item flex="25">Tanggal Proses</item> <item flex="5"> : </item> <item>{{order.date_ship | date:'dd MMMM yyyy'}}</item>
    </div>

    <md-divider class="margin-divider"></md-divider>
    <div layout="row">
      <item flex="25">Status</item> <item flex="5"> : </item>
      <item>
        <waiting ng-if="order.status=='WAITING'">Menunggu Pembayaran</waiting>
        <processed ng-if="order.status=='PROCESSED'">{{order.status}}</processed>
        <cancel ng-if="order.status=='CANCEL'">{{order.status}}</cancel>
        <end ng-if="order.status=='SELESAI'">{{order.status}}</end>
        <bayar ng-if="order.status=='BAYAR'">{{ order.status }}</bayar>
      </item>
    </div>
    <div layout="row">
      <item flex="25">Total Pembayaran</item> <item flex="5"> : </item> <item>{{order.total_fees | currency: 'Rp '}}</item>
    </div>

    <md-divider class="margin-divider"></md-divider>
    <div layout="row">
      <item flex="25">Tanggal Transaksi</item> <item flex="5"> : </item> <item>{{order.created_at | date:'dd MMMM yyyy, hh:mm'}}</item>
    </div>
    <div layout="row">
      <item flex="25">Tanggal Pengiriman</item> <item flex="5"> : </item> <item>{{order.date_shipping | date:'dd MMMM yyyy, hh:mm'}}</item>
    </div>

    <md-divider class="margin-divider"></md-divider>
    <div layout="row">
      <item flex="25">Keterangan</item> <item flex="5"> : </item> <item>{{order.comment}}</item>
    </div>
    <md-divider class="margin-divider"></md-divider>
    <div layout="row">
      <item flex="25">No Serial</item> <item flex="5"> : </item> <item>{{order.serial}}</item>
    </div>
    <div layout="row" style="margin-top: 20px;">
        <item flex="50"><b>Detail Pembayaran</b></item>
        <item flex></item>
        <!-- <item>Code : <span style="color: #89C541;">{{order.code}}</span></item> -->
    </div>
    <md-divider class="margin-divider"></md-divider>
     <!-- <div layout="row">
      <item flex="25">Transfer Ke</item> <item flex="5"> : </item> <item>{{order.nama_bank}}</item>
    </div>
    <md-divider class="margin-divider"></md-divider>
     <div layout="row">
      <item flex="25">No Rek</item> <item flex="5"> : </item> <item>{{order.norek}}</item>
    </div>
    <md-divider class="margin-divider"></md-divider>
     <div layout="row">
      <item flex="25">A/n</item> <item flex="5"> : </item> <item>{{order.atas_nama}}</item>
    </div> -->
    <!-- <md-divider class="margin-divider"></md-divider> -->
     <div layout="row">
      <item flex="25">Dikirim Dari</item> <item flex="5"> : </item> <item>{{order.bank_sender}}</item>
    </div>
    <md-divider class="margin-divider"></md-divider>
     <div layout="row">
      <item flex="25">No rek Pengirim</item> <item flex="5"> : </item> <item>{{order.bank_norek}}</item>
    </div>
    <md-divider class="margin-divider"></md-divider>
     <div layout="row">
      <item flex="25">A/N</item> <item flex="5"> : </item> <item>{{order.bank_atas_nama}}</item>
    </div>
    <md-divider class="margin-divider"></md-divider>
     <div layout="row">
      <item flex="25">Bukti Transfer</item> <item flex="5"> : </item> <item><img src="http://demo.dokterapps.com/tokoku/admin_project/uploads/transfer/{{order.bukti_pembayaran}}" width="180px" alt=""></item>
    </div>
    <md-divider class="margin-divider"></md-divider>
    <md-divider class="margin-divider"></md-divider>
     <div layout="row">
      <item flex="25">Tanggal Bayar</item> <item flex="5"> : </item> <item>{{order.date_payment | date:'d MMMM yyyy, hh:mm'}}</item>
    </div>
    <md-divider class="margin-divider"></md-divider>
    <br>
    <h3>List Product Order : </h3>
    <md-divider></md-divider>
    <div layout="row">
      <item flex="5">No.</item> <item flex="55">Product</item> <item flex="15">Harga Satuan</item> <item flex="5">Qty</item>
      <item flex="20" layout="row" layout-align="end center">Sub Total</item>
    </div>
    <md-divider></md-divider>

    <div layout="row" ng-repeat="pod in order_details">
      <item flex="5">{{$index+1}}</item><item flex="55">{{pod.product_name}}</item> <item flex="15">{{pod.price_item | currency: 'Rp '}}</item> <item flex="5">{{pod.amount}}</item>
      <item flex="20" layout="row" layout-align="end center">{{getPriceTotal(pod) | currency: 'Rp '}}</item>
    </div>
    <md-divider></md-divider>
    <div layout="row">
      <item flex="80">Total</item>
      <item flex="20" layout="row" layout-align="end center">{{price_total_formatted | currency: 'Rp '}}</item>
    </div>
    <div layout="row">
       <item flex="80">Jumlah Ongkir ({{order.shipping}})</item>
       <item flex="20" layout="row" layout-align="end center" >{{order.ongkir | currency: 'Rp '}} </item>
    </div>
    <md-divider></md-divider>
    <div layout="row">
      <item flex="80">Total Tagihan</item>
      <item flex="20" layout="row" layout-align="end center">{{order.total_fees | currency: 'Rp '}}</item>
    </div>
    <md-divider></md-divider>
    <p class="hint"><i> * This tax may different with your current tax, this tax calculate when buyer submit order</i></p>
    <br><br>
  </md-dialog-content>
  <div class="md-actions" layout="row" style="padding-left: 8px;" ng-if="process">
    <md-button flex="100" md-no-ink ng-click="processOrder(order)" class="md-accent md-raised" >PROCESS ORDER</md-button>
  </div>
  </form>
</md-dialog>
