<md-card class="md-whiteframe-1dp">
<div class="table-responsive-vertical">
	<table id="table" class="table table-hover" style="overflow: scroll;overflow: auto; overflow-x: auto;">
		<thead>
			<tr >
				<th width="1%">No</th>
				<th width="20%">Customer</th>
				<th width="10%">Code</th>
				<th width="5%">Pengiriman</th>
				<th width="10%">Ongkir</th>
				<th width="10%">Total Tagihan</th>
				<th width="10%">Tanggal</th>
				<th width="5%">Status</th>
				<th width="2%">From</th>
				<th width="5%">Action</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="po in product_order track by po.id">
				<td data-title="No">{{($index+1) + (paging.current * paging.limit) - paging.limit}}</td>
				<td data-title="Customer Name">{{po.buyer}}</td>
				<td data-title="Code">{{po.code}}</td>
				<td data-title="Shipping">{{po.shipping}}</td>
				<td data-title="Ongkir">{{po.ongkir | currency: 'Rp '}}</td>
				<td data-title="Total Tagihan">{{po.total_fees | currency: 'Rp '}}</td>
				<td data-title="Tanggal">{{po.date_ship | date:'dd MMM yy'}}</td>
				<!-- <td data-title="Created at">{{po.created_at | date:'dd MMM yy'}}</td> -->
				<td data-title="Status">
					<waiting ng-if="po.status=='WAITING'">PAYMENT</waiting>
					<processed ng-if="po.status=='PROCESSED'">{{po.status}}</processed>
					<cancel ng-if="po.status=='CANCEL'">{{po.status}}</cancel>
					<end ng-if="po.status=='SELESAI'">{{po.status}}</end>
					<bayar ng-if="po.status=='BAYAR'" style="background-color: #89C541;color: #fff; padding: 2px;">{{po.status}}</bayar>
				</td>
				<td data-title="From">
					<div ng-if="po.serial != null && po.serial !=''">
						<md-icon class="md-ic-small ic-small-green">android</md-icon>
						<md-tooltip>Android Mobile</md-tooltip>
					</div>
					<div ng-if="po.serial==null || po.serial==''">
						<md-icon class="md-ic-small ic-small-grey">laptop</md-icon>
						<md-tooltip>Computer or Web</md-tooltip>
					</div>
				</td>
				<td data-title="Action">
					<md-menu md-position-mode="target-right target" >
						<md-button class="md-btn-small" ng-click="$mdOpenMenu($event)">
							<md-icon class="md-ic-small" ng-style="{'font-size': '15px'}">more_vert</md-icon>
						</md-button>
						<md-menu-content width=3>
							<md-title class="md-padding">MENU - {{po.buyer}}</md-title>
							<md-menu-item>
								<md-button layout-fill md-ink-ripple ng-click="detailsOrder($event, po)">
									<md-icon md-class="md-primary" md-menu-align-target>launch</md-icon>Details
								</md-button>
							</md-menu-item>
							<md-menu-item ng-if="po.status=='BAYAR'">
								<md-button layout-fill md-ink-ripple ng-click="processedOrderConfirm($event, po)">
									<md-icon md-class="md-primary" md-menu-align-target>assignment_turned_in</md-icon>Process
								</md-button>
							</md-menu-item>
							<md-menu-item ng-if="po.status!='PROCESSED'">
								<md-button layout-fill md-ink-ripple ng-click="editOrder($event, po)">
									<md-icon md-class="md-primary" md-menu-align-target>create</md-icon>Edit
								</md-button>
							</md-menu-item>

							<md-menu-item ng-if="po.status=='WAITING'">
								<md-button layout-fill md-ink-ripple ng-click="cancelOrder($event, po)">
									<md-icon md-class="md-primary" md-menu-align-target>block</md-icon>Cancel
								</md-button>
							</md-menu-item>

							<md-menu-item ng-if="po.status!='PROCESSED'">
								<md-button layout-fill md-ink-ripple ng-click="deleteOrder($event, po)">
									<md-icon md-class="md-primary" md-menu-align-target>delete</md-icon>Delete
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-if="loading" style="text-align:center;" colspan="10">
		<p>Loading</p>
		<md-progress-linear md-mode="indeterminate"/>
	</div>
</div>
<script type="text/javascript">
	//var app = angular.module('app', []);
    
</script>
<!--pagination view-->
<section layout="row" class="sub-menu-bg" flex>
	<cl-paging flex cl-pages="paging.total" , cl-steps="paging.step" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"/>
</section>

</md-card>
