<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TOKOKU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../../lib/css/angular-material.min.css" rel="stylesheet prefetch" type="text/css"/>
    <link href="../../lib/css/fonts/material.css" rel="stylesheet" type="text/css"/>
    <link href="../../lib/css/style.css" rel="stylesheet" type="text/css"/>

    <link href='../../lib/css/fonts/font-awesome.min.css' rel='stylesheet prefetch'/>


    <script src="../../lib/js/angular.min.js"></script>
    <script src="../../lib/js/angular-route.min.js"></script>
    <script src="../../lib/js/angular-animate.min.js"></script>
    <script src="../../lib/js/angular-aria.min.js"></script>
    <script src="../../lib/js/angular-material.min.js"></script>
    <script src="../../lib/js/angular-messages.min.js"></script>
    <script src="../../lib/js/angular-cookies.min.js"></script>
    <script src="../../lib/js/angular-sanitize.min.js"></script>

    <!-- angular global controllers -->
    <script>
        angular.module('App', ['ngMaterial', 'ngRoute', 'ngMessages', 'ngCookies', 'ngSanitize']);
        angular.module('App').config(['$locationProvider', function ($locationProvider) {
            $locationProvider.html5Mode({
                enabled: true,
                requireBase: false
            });
        }]);
    </script>
    <!-- angular current controllers -->
    <script src="../../controller/order/print.js"></script>
</head>

<body layout="row" ng-app="App" ng-controller="PrintOrderController" layout-fill>

<div layout="column" class="relative" style="background-color:#FFF; width: 100%">
    <md-content id="main-content" style="width: 100%" >
        <div layout width="790" style="width: 790px; padding: 20px;">
            <div layout="column">
                <div layout="row">
                    <item flex="25">
                        <img src="http://demo.dokterapps.com/tokoku/admin_project/uploads/logotokoku1.png" alt="Logo Print" width="135px">
                    </item>
                    <span flex></span>
                    <item>
                        <md-button class="md-icon-button" ng-click="printAction()">
                            <md-icon aria-label="Print">print</md-icon>
                        </md-button>
                    </item>
                </div>

                <div layout="row" style="margin-top: 20px;">
                    <item flex="50"><b>Detail Order</b></item>
                    <item flex></item>
                    <item>Code : <span style="color: #89C541;">{{order.code}}</span></item>
                </div>

                <md-divider class="margin-divider"></md-divider>

                <div layout="row">
                    <item flex="25">Customer</item>
                    <item flex="5"> :</item>
                    <item>{{order.buyer}}</item>
                </div>
                <div layout="row">
                    <item flex="25">Email</item>
                    <item flex="5"> :</item>
                    <item>{{order.email}}</item>
                </div>
                <div layout="row">
                    <item flex="25">No Telpon</item>
                    <item flex="5"> :</item>
                    <item>{{order.phone}}</item>
                </div>
                <div layout="row">
                    <item flex="25">Alamat</item>
                    <item flex="5"> :</item>
                    <item>{{order.address}}</item>
                </div>

                <md-divider class="margin-divider"></md-divider>
                <div layout="row">
                    <item flex="25">Pengiriman</item>
                    <item flex="5"> :</item>
                    <item>{{order.shipping}}</item>
                </div>
                <div layout="row">
                    <item flex="25">Tanggal Pengiriman</item>
                    <item flex="5"> :</item>
                    <item>{{order.date_ship | date:'dd MMMM yyyy'}}</item>
                </div>

                <md-divider class="margin-divider"></md-divider>
                <div layout="row">
                    <item flex="25">Status</item>
                    <item flex="5"> :</item>
                    <item>
                        <waiting ng-if="order.status=='WAITING'">{{order.status}}</waiting>
                        <processed ng-if="order.status=='PROCESSED'">{{order.status}}</processed>
                        <cancel ng-if="order.status=='CANCEL'">{{order.status}}</cancel>
                        <end ng-if="order.status=='SELESAI'">{{order.status}}</end>
                        <bayar ng-if="order.status=='BAYAR'" style="color: #89C541">{{order.status}}</bayar>
                    </item>
                </div>
                <div layout="row">
                    <item flex="25">Total Tagihan</item>
                    <item flex="5"> :</item>
                    <item>{{order.total_fees | currency: 'Rp '}}</item>
                </div>

                <md-divider class="margin-divider"></md-divider>
                <div layout="row">
                    <item flex="25">Tanggal Transaksi</item>
                    <item flex="5"> :</item>
                    <item>{{order.created_at | date:'dd MMMM yyyy, hh:mm'}}</item>
                </div>

                <md-divider class="margin-divider"></md-divider>
                <div layout="row">
                    <item flex="25">Keterangan</item>
                    <item flex="5"> :</item>
                    <item>{{order.comment}}</item>
                </div>
                <md-divider class="margin-divider"></md-divider>
                <div layout="row" ng-if="order.serial !== ''">
                    <item flex="25">No Serial</item>
                    <item flex="5"> :</item>
                    <item>{{order.serial}}</item>
                </div>
                <div layout="row" style="margin-top: 20px;">
                    <item flex="50"><b>Detail Pembayaran</b></item>
                    <item flex></item>
                    <!-- <item>Code : <span style="color: #89C541;">{{order.code}}</span></item> -->
                </div>
                <md-divider class="margin-divider" ng-if="order.serial !== ''"></md-divider>
                <div layout="row" ng-if="order.serial !== ''">
                    <item flex="25">Bank Penerima</item>
                    <item flex="5"> :</item>
                    <item>{{order.nama_bank}}</item>
                </div>
                <md-divider class="margin-divider" ng-if="order.nama_bank !== ''"></md-divider>
                <div layout="row" ng-if="order.serial !== ''">
                    <item flex="25">No rek Penerima</item>
                    <item flex="5"> :</item>
                    <item>{{order.norek}}</item>
                </div>
                <md-divider class="margin-divider" ng-if="order.serial !== ''"></md-divider>
                <div layout="row" ng-if="order.serial !== ''">
                    <item flex="25">A/N Penerima</item>
                    <item flex="5"> :</item>
                    <item>{{order.atas_nama}}</item>
                </div>
                <md-divider class="margin-divider" ng-if="order.serial !== ''"></md-divider>
                <div layout="row" ng-if="order.bank_sender !== ''">
                    <item flex="25">Bank Pengirim</item>
                    <item flex="5"> :</item>
                    <item>{{order.bank_sender}}</item>
                </div>
                <md-divider class="margin-divider" ng-if="order.bank_sender !== ''"></md-divider>
                <div layout="row" ng-if="order.bank_norek !== ''">
                    <item flex="25">No Rek</item>
                    <item flex="5"> :</item>
                    <item>{{order.bank_norek}}</item>
                </div>
                <md-divider class="margin-divider" ng-if="order.bank_norek !== ''"></md-divider>
                <div layout="row" ng-if="order.bank_atas_nama !== ''">
                    <item flex="25">A/N</item>
                    <item flex="5"> :</item>
                    <item>{{order.bank_atas_nama}}</item>
                </div>
                <md-divider class="margin-divider" ng-if="order.bank_atas_nama !== ''"></md-divider>

                <br>
                <b>Detail Order Item: </b><br>

                <md-divider></md-divider>
                <div layout="row">
                    <item flex="5"><b>No.</b></item>
                    <item flex="50" style="width: 500px;"><b>Produk</b></item>
                    <item flex="5"></item>
                    <item flex="15"><b>Harga Satuan</b></item>
                    <item flex="5"><b>Qty</b></item>
                    <item flex="20" layout="row" layout-align="end center"><b>Sub Total</b></item>
                </div>
                <md-divider></md-divider>

                <div layout="row" ng-repeat="pod in order_details">
                    <item flex="5">{{$index+1}}</item>
                    <item flex="50"style="width: 500px;">{{pod.product_name}}</item>
                    <item flex="5"></item>
                    <item flex="15">{{pod.price_item | currency: 'Rp'}}</item>
                    <item flex="5">{{pod.amount}}</item>
                    <item flex="20" layout="row" layout-align="end center">{{getPriceTotal(pod) | currency: 'Rp'}} 
                    </item>
                </div>

                <md-divider></md-divider>
                <div layout="row">
                    <item flex="80">Total</item>
                    <item flex="20" layout="row"
                          layout-align="end center">{{price_total_formatted | currency: 'Rp'}} 
                    </item>
                </div>
                <!-- <div layout="row">
                    <item flex="80">Tax * ({{order.tax}} %)</item>
                    <item flex="20" layout="row" layout-align="end center">{{conf_currency}} {{price_tax_formatted}} 
                    </item>
                </div> -->
                <div layout="row">
                    <item flex="80">Jumlah Ongkir ({{order.shipping}})</item>
                    <item flex="20" layout="row" layout-align="end center">{{order.ongkir | currency: 'Rp'}} 
                    </item>
                </div>
                <md-divider></md-divider>
                <div layout="row" style="color: #89C541;">
                    <item flex="80"><b>Total Tagihan</b></item>
                    <item flex="20" layout="row" layout-align="end center">
                        <b>{{order.total_fees | currency: 'Rp'}} </b>
                    </item>
                </div>
                <md-divider></md-divider>
                <p class="hint">
                    <i> * This tax may different with your current tax, this tax calculate when buyer submit order</i>
                </p>
                <br><br>
            </div>
        </div>
    </md-content>
</div>

</body>
</html>