<tr>
    <td style="width: 5%;">[@index]</td>
    <td style="width: 40%;">[@product_name]</td>
    <td style="width: 15%;">[@conf_currency] [@price_item]</td>
    <td style="width: 15%;">[@amount]</td>
    <td style="width: 20%; text-align: right;">[@conf_currency] [@price_total]</td>
</tr>