<md-card class="md-whiteframe-1dp md-padding">
  <form role="form" name="thisForm" id="thisForm" novalidate class="md-padding">
  
	<div layout="row">
		<md-input-container flex="45">
			<label>Nama Kategori *</label>
			<input required name="name" ng-model="category.name" maxlength="50">
		</md-input-container>
	</div>

	<p class="hint"><i>Warna yang kontras dengan putih akan mudah dibaca oleh pengguna, lihat contoh tampilan pada kotak warna di bawah ini</i></p>
	<div layout="row" layout-align="start center">
		<md-input-container flex="10">
			<label>Color *</label>
			<input colorpicker required name="color" ng-model="category.color" maxlength="7">
		</md-input-container>
		<div style="width:200px;background-color:{{category.color}};margin:10px;color:#FFFFFF;padding:5px;">
			<b>Kategori Warna</b>
		</div>
	</div>
	<div layout="row">
		<md-input-container flex="45">
			<label>Brief *</label>
			<textarea required name="brief" maxlength="100" ng-model="category.brief" rows="2"></textarea>
		</md-input-container>
	</div>

	<p class="hint"><i>Prioritas menentukan urutan daftar kategori di android, diurutkan berdasarkan prioritas dari yang terkecil sampai terbesar</i></p>
	<div layout="row">
	  <md-input-container flex="10">
		  <label>Prioritas *</label>
		  <input type="number" required name="priority" ng-model="category.priority" maxlength="5">
	  </md-input-container>
	</div>
	
    <fieldset class="standard margin-input-container md-padding">
		<legend>Icon Kategori *</legend>
		<div layout="row" layout-align="center center">
			<input class="padding-top-bottom" type="file" name="icon" onchange="angular.element(this).scope().onFileSelect(this.files)" flex/>
			<md-button class="md-icon-button" ng-click="viewImage($event, 'uploads/category/'+category.icon)" ng-if="!isNewEntry()">
				<md-icon>wallpaper</md-icon>
			</md-button>
		</div>
		<div ng-if="icon.valid" class="red-alert">Hanya PNG</div>

		<p class="hint">
			1. Rasio Gambar adalah 1: 1, ukuran yang disarankan adalah W: 200px H: 200px<br>
			2. Gambar dengan satu warna(<i>Monochrome</i>) </i><br>
			3. Latar belakang transparan<br><br>
			<!-- <a target="_blank" href="http://blog.dream-space.web.id/?p=146">Panduan Icon Lengkap</a> -->
		</p>
    </fieldset>

	<br>
	<md-divider></md-divider>
	<md-checkbox ng-model="category.draft" ng-true-value="1" ng-false-value="0">Save As draft</md-checkbox>
	<p class="hint">Ketika Anda memeriksa <i>Simpan sebagai draf</i> data tidak akan ditampilkan di perangkat pengguna.</p>

	<br><br>
    <em> (*) required field</em>

    <div class="md-actions md-padding" layout="row">
		<span flex></span>
		<md-button ng-if="!submit_loading" class="md-warn" ng-click="cancel()" > CANCEL </md-button>
		<md-button ng-if="!submit_loading" ng-disabled="!isReadySubmit() || thisForm.$invalid" ng-click="submit(category)" class="md-raised md-primary"> {{button_text}} </md-button>
		<md-progress-circular ng-if="submit_loading" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
    </div>
  </form>
</md-card>
