<md-card class="md-whiteframe-1dp">
	<div class="table-responsive-vertical">
		<table id="table" class="table table-hover" style="overflow: scroll;overflow: auto; overflow-x: auto;">
			<thead>
				<tr >
					<th width="2%">No</th>
					<th width="25%">Name</th>
					<th width="3%">Prioritas</th>
					<th width="5%">Color</th>
					<th width="3%">Type</th>
					<th width="5%">Update</th>
					<th width="5%" style="text-align:center;">Action</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="c in category track by c.id">
					<td data-title="No">{{($index+1) + (paging.current * paging.limit) - paging.limit}}</td>
					<td data-title="Name">{{c.name}}</td>
					<td data-title="Name">{{c.priority}}</td>
					<td data-title="Color"><generic style="background:{{c.color}};">{{c.color}}</generic></td>
					<td data-title="Type">
						<draft ng-if="c.draft == 1">DRAFT</draft>
						<publish ng-if="c.draft != 1">PUBLISHED</publish>
					</td>	
					<td data-title="Update">{{c.last_update | date:'dd MMM yy'}}</td>
					<td data-title="Action">
						<div layout="row" layout-align="center">
							<md-button layout-align="center" class="md-btn-small" ng-click="viewIcon($event, 'uploads/category/'+c.icon)">
								<md-icon class="md-ic-small ic-small">wallpaper</md-icon>
								<md-tooltip>View Icon</md-tooltip>
							</md-button>
							<md-button layout-align="center" class="md-btn-small" ng-click="deleteCategory($event, c)">
								<md-icon class="md-ic-small ic-small">delete</md-icon>
								<md-tooltip>Delete Item</md-tooltip>
							</md-button>
							<md-button layout-align="center" class="md-btn-small" ng-click="editCategory($event, c)">
								<md-icon class="md-ic-small ic-small">create</md-icon>
								<md-tooltip>Edit Item</md-tooltip>
							</md-button>
							<md-button layout-align="center" class="md-btn-small" ng-disabled="c.draft==0" ng-click="publishDialog($event, c)">
								<md-icon class="md-ic-small ic-small">check_circle</md-icon>
								<md-tooltip>Publish</md-tooltip>
							</md-button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="loading" style="text-align:center;" colspan="10">
			<p>Loading</p>
			<md-progress-linear md-mode="indeterminate"/>
		</div>
	</div>

	<!--pagination view-->
	<section layout="row" class="sub-menu-bg" flex>
		<cl-paging flex cl-pages="paging.total" , cl-steps="paging.step" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"/>
	</section>

</md-card>
