<section layout="column" flex layout-align="center center" class="login">
  <md-card class="md-whiteframe-0dp" style="min-width:350px;" >
      <md-toolbar>
          <div layout="column" layout-padding layout-align="center center" class="md-padding" style="padding-top:20px;padding-bottom:20px;">
            <!-- <md-icon md-svg-src="lib/css/icons/web_icon.svg" style="color:#FFFFFF;width:60px;height:60px;margin:5px;"></md-icon> -->
            <img src="uploads/logoku.png" style="width:130px;height:95px;margin:5px;" alt="">
            <!-- <img src="lib/css/icons/logo_hero.png" style="color:#FFFFFF;width:150px;height:85px;margin:5px;" alt=""> -->
            <!-- <div>TOKOKU</div> -->
          </div>
      </md-toolbar>
      <md-card-content>
          <form role="form" name="loginForm" class="md-padding">

              <md-input-container>
                <label>Username</label>
                <input name="username" ng-model="userdata.username" required/>
              </md-input-container>

              <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="userdata.password" required />
              </md-input-container>

              <div layout="column" layout-align="center center">
                <md-button ng-if="!submit_loading" ng-disabled="loginForm.$invalid" ng-click="doLogin()" class="md-raised md-accent" flex="50">Login</md-button>
                <md-progress-circular ng-if="submit_loading" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
              </div>
          </form>
      </md-card-content>
  </md-card>
</section>
